<%- model_class = User -%>
<div class="page-header">
  <% if current_user == @user %>
  <h2><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => " Edit Profile Details") %></h2>
<% else %>
  <h2><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}  #{@user.full_name}") %></h2>
<% end %>
</div>
<%= render :partial => 'form' %>
